<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <link rel="icon" type="image/x-icon" href="../images/valorant_logo.png">
    <title>Valorant</title>
</head>

<body>
    <header>
        <div class="container">
            <a href="https://playvalorant.com/pt-br/?gclid=Cj0KCQiAo-yfBhD_ARIsANr56g7SyaBmh6odaXfZZNkF1IhZwRkWr3aLNhL0YvRpTjr9t_icHQaT9KMaAl6mEALw_wcB&gclsrc=aw.ds"
                target="_blank" id="logo">
                <img src="../images/valorant_logo.png" alt="logo do jogo valorant" width="64px" height="64px">
            </a>
            <nav>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Mapas</a></li>
                    <li><a href="https://playvalorant.com/pt-br/download/" target="_blank">Baixar o jogo</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>